
    /* Estilos personalizados para los selectores */
    select.form-control {
      font-size: 12.5px; /* Cambia el tamaño de la fuente */
    }
    label {
      font-size: 14px; /* Cambia el tamaño de la fuente */
    }
    .small-input {
    width: 50px;
    font-size: 12.5px; /* Tamaño de la fuente más pequeño */
    padding: 0.3rem 0.5rem; /* Ajustar el padding para hacer los inputs más pequeños */
}

#chat-messages {
  height: 210px; /* Altura máxima del contenedor de mensajes */
  overflow-y: auto; /* Habilita el desplazamiento vertical */
  font-size: 14px; /* Tamaño de fuente para los mensajes del chat */
}
#typing-indicator p {
  margin-top: 5px; /* Ajusta el margen superior */
  margin-bottom: 5px; /* Ajusta el margen inferior */
}

.custom-input {
  width: 200px; /* Establece el ancho deseado */
}

#typing-indicator {
  font-family: Arial, sans-serif;
  font-size: 13px;
  color: #333;
}

